/*
1. SITE STRUCTURE and TYPOGRAPHY
2. PAGES AND CONTENT
3. FORMS
4. COMMON
5. MEDIA QUERIES

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/
body {
  background: url(/assets/img/layout/bg.png) repeat center top;
  font:13px/22px 'Open Sans', Arial, sans-serif;
  color: #a1a1a1;
  -webkit-font-smoothing: antialiased !important;
}

/* Spacers */
/******************************/

.spacer-top {
  margin-top: 80px;
}

.img-spacer-top {
  margin-top: 40px;
}
.spacer-bottom {
  margin-bottom: 50px;
}



/* Icons */
/******************************/

.fa {
  color: #92278f;
}


/** Typography **/
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  font-family: 'Open Sans', Arial, sans-serif;
}
h2, h3, h4,h5 {
  text-transform:uppercase;
}
#sub-head h2 {
  font-size:48px;
  font-weight:800;
  line-height:44px;
}
#sub-head p {
  font-size:30px;
  font-weight:300;
  line-height:32px;
}
.result  h2{
  font-size:16px;
  margin-bottom:20px;
}
#indicator {
  font-size:14px; margin-top:20px;
}
h3 {
  font-size: 24px;
  line-height:28px;
}
h3.title {
  font-size:32px;
  font-weight:800;
  text-align:center;
  background:url(/assets/img/layout/divider.png) no-repeat center top;
  text-align:center;
  color:#555;
  padding: 40px 0;
  margin-top:30px;
}
.box_calculator h3 {
  font-size:18px;
  margin:15px 0 15px 0;
  line-height:20px;
}
h4 {
  font-size: 18px;
  ine-height:22px;

}
h3.title-2, h4.title-2 { font-size:22px; color:#555; }
h3.title-2 span, h4.title-2 span {color:#92278f; }
.title-green {color:#92278f;}

h5 {
  font-size: 14px;
  line-height:14px;
}

h6 {
  font-size: 12px;
}
p {
  margin: 0 0 20px 0;
}
/** Lists **/
ul,
ol {
  padding: 0;
  margin: 0 0 30px 0;
  list-style:none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
label {
  font-weight:600;
}
hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #dfdfdf;
}

/** Links color **/
a {
  color: #92278f;
  text-decoration: none;
    -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover,
a:focus {
  color: #444;
  text-decoration: none;
}

a.button_small, .button_small{
  border:none;
  background:#92278f;
  color:#fff;
  padding:3px 15px;
  text-decoration:none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display:inline-block;
  cursor:pointer;
  font-weight:600;
  font-size:11px;
  text-transform:uppercase;
  border: 1px solid #92278f;
}

a.button_small:hover, .button_small:hover {background:#000; color:#fff; border: 1px solid #000;}

a.button_medium, .button_medium {
  border:none;
  background:#92278f;
  color:#fff;
  padding:7px 20px;
  text-decoration:none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display:inline-block;
  cursor:pointer;
  font-weight:600;
  text-transform:uppercase;
  border: 1px solid #92278f;
  margin-bottom:30px;
}

a.button_medium:hover, .button_medium:hover {background:#000; color:#fff; border: 1px solid #000; }

.button_newsletter {
  border:none;
  background: #202329;
  color:#fff;
  padding:13px 30px;
  text-decoration:none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display:inline-block;
  cursor:pointer;
  font-weight:600;
  text-transform:uppercase;
    margin-bottom:20px;
}

.button_newsletter:hover {background:#92278f; color:#fff;}

a.button_large, .button_large{
  border:none;
  background:#58585a;
  color:#92278f;
  padding:17px 40px;
  text-decoration:none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display:inline-block;
  cursor:pointer;
  font-weight:600;
  font-size:24px;
  text-transform:uppercase;
  border: 1px solid #58585a;
  margin-bottom:30px;
}

a.button_large:hover, .button_large:hover {background:#92278f; color:#fff;}


/** Header **/
header {
  padding:0 0 0 0;
  margin:20px auto 30px auto;
}


/** Footer **/
footer {
  background:#92278f;
  padding-top: 60px;
  margin-top: 45px;
  color: #fff;
}
footer .form-bg-1, footer .form-bg-2 {
  padding:5px 10px ;
}
#copy {
  padding:15px 0;
  background-color:#f2f2f2;
  font-size:11px;
  text-align:center;
}

footer a {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #fff;
  text-decoration: underline;
}


/*============================================================================================*/
/* 2.  PAGES AND CONTENT */
/*============================================================================================*/
/** Profile **/
#why-bg-1 {background:url(/assets/img/layout/why-1.png) no-repeat left top; height:395px;}
#why-bg-2 {background:url(/assets/img/layout/why-2.png) no-repeat right top; height:395px;}
#why-bg-3 {background:url(/assets/img/layout/why-3.png) no-repeat left top; height:395px;}
#why-bg-4 {background:url(/assets/img/layout/why-4.png) no-repeat right top; height:395px;}
.why-desc { padding-top:113px;}

/** Calculators **/
.hours {
  float:right;
}
.hours input{
  width:25px;
  background-color:#e9e9e9;
  border:none;
  -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    margin-left:3px;
  color: #999;
  text-align:center;
  outline: 0;
}
#activies {
  padding-top:30px
}
#activies.clearfix br {
  clear:both;
}
.result {
  background-color:#7accc8;
  color:#fff;
  text-align:center;
  font-size:66px;
  font-weight:800;
  padding:50px 20px 60px 20px;
  margin-bottom:30px;
}
.box_calculator a{
  background-color:#92278f ;
  padding:20px 20px 5px 20px;
  margin-bottom:10px;
  text-align:center;
  color:#fff;
  display:block;
  font-size:14px;
  line-height:16px;
  transition: background .8s ease;
  -webkit-transition: background .8s ease;
  -moz-transition: background .8s ease;
}
.box_calculator a:hover{
  background-color:#3db71d;
  text-decoration:none;
}

#lia_total, #mia_total, #via_total{
  color:#FF9;
   }

#activietes_detail{
  font-size:14px;
  margin-top:60px;
  margin-bottom:-40px;
   }

   #activietes_detail h4 span, #activietes_detail ul li span{
     float:right;
     color:#FF9;
   }


/** Blog **/
.border-right {
  padding-right:30px;
  border-right:1px solid #dfdfdf;
}
.tags a {
  display:inline-block;
  margin:5px 14px 10px 0;
  height:33px;
  line-height:33px;
  background: #8abbcc url(/assets/img/layout/tag_bg.png) no-repeat 91% center;
  padding:0 28px 0 11px;
  color:#fff;

  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
}
.tags a:hover {
  background-color:#099ad1;
  color:#fff;
  text-decoration:none;
}

ul.recent_post li {
  padding:0 0 8px 0;
  margin-bottom:15px;
  border-bottom:1px #ccc dotted;
  color:#313131;
  list-style:none;
  line-height:18px;
  padding-bottom:15px;
  color:#888;
  font-style:italic;
}
ul.recent_post li div {
  font-weight:700;
  padding-left:25px;
  font-style:normal
}
ul.recent_post li:last-child {
  border-bottom:0;
  margin-bottom:0;
}
.post {
  margin-bottom:0px;
}
.post img {
  margin-bottom:18px;
}
.post h2 {
  font-size:32px;
  line-height:32px;
  text-transform:none;
}
.post_info {
  padding:10px 0;
  padding-bottom:0;
  border-bottom:1px #dfdfdf solid;
  border-top:1px #dfdfdf solid;
  margin-bottom:12px;
}
.post_info span {
  color:#ff6666;
}
.post img {
   border: 8px solid #e8e8e8;
}
.post-left {float:left;
}
.post-left ul li {
  float:left;
  margin-right:10px;
  list-style:none;
}
.post-right {float:right;
}
#comments {
  padding:10px 0 0px 0;
  margin-bottom:15px;
}
#comments ul {
  padding:0;
  margin:0;
  list-style:none;
}
#comments ol {
  padding:0;
  margin:0;
  list-style:none;
}
#comments li {
  padding:0 0 23px 0;
  list-style:none;
}
.avatar {
  float:left;
  margin-right:11px;
}
.avatar img {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.comment_right {display:table;  }
.comment_info {padding-bottom:7px;}
.comment_info span {padding:0 12px;}
#comments ol li ul li {
  padding:23px 0 0 30px;
  margin:0;
}

.home-news {
  position: relative;
  margin-bottom: 20px;
  padding-left: 66px;
  border-bottom: 1px dotted #36383d;
}
.home-news.last {
  margin-bottom:0;
  border-bottom: none;
}

.news-date {
  width: 44px;
  position: absolute;
  top: 2px;   left: 0;
  margin-bottom: 30px;
  padding: 1px;
  background: #fafafa;
}

.date-day {
  height: 43px;
  text-align: center;
  line-height: 43px;
  font-size: 18px;
  font-weight:800;
}

.date-mounth {
  height: 14px;
  background: #3c3e3f;
  text-align: center;
  line-height: 12px;
  font-size: 11px;
  color: #fff;
}

.news-title {
  margin-bottom: 0;
  padding: 0;
  font-weight:600;
}

.news-excerpt {
  margin-bottom: 20px;
}
/*============================================================================================*/
/* 3.  FORMS */
/*============================================================================================*/

button {
  border-radius:0px;
}
.form-control::-moz-placeholder {
color: #999;
 opacity:1;
}
.form-control::-webkit-input-placeholder {
color: #999;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"]+label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/assets/img/layout/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(/assets/img/layout/check_radio_sheet.png) -19px top no-repeat;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/assets/img/layout/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(/assets/img/layout/check_radio_sheet.png) -57px top no-repeat;
}

label {
   color: #888;
   font-weight:600;
}
/* radio style ie8*/
.ie8 input[type="checkbox"] {
     display:inline-block;
}
.ie8 input[type="checkbox"]+label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: none;
    cursor:pointer;
}
.ie8 input[type="checkbox"]:checked + label span {
    background: none;
}
.ie8 input[type="radio"] {
     display:inline-block;
}
.ie8 input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: none;
    cursor:pointer;
}
.ie8 input[type="radio"]:checked + label span {
    background: none;
}

input.form-control, select.form-control, textarea.form-control {
  background:none;
  background-color:none;
  border:none;
  -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    margin-bottom:0;
    color: #999;
  font-size:13px;
  font-weight:600;
}
input.form-control:focus, select.form-control:focus, textarea.form-control:focus  {
  border-color:none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:#555;
}
.form-bg-1, .form-bg-2 {
  display:block;
  margin-bottom:1px;
  padding:10px;
  font-weight:600;
  color: #999;
}
.form-bg-1 {
  background-color:#e9e9e9;
}
.form-bg-2 {
  background-color:#f2f2f2;
}
.styled-select select {
   background: transparent;
   width: 100%;
   padding: 5px;
   padding-left:12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
  font-weight:600;
  -moz-appearance: window;
    -webkit-appearance: none;
    cursor: pointer;
   }
.styled-select select::-ms-expand, .styled-select-2 select::-ms-expand {
    display: none;
}
   .styled-select {
   width: 98%;
   height: 34px;
   overflow: hidden;
   background: url(/assets/img/layout/down_arrow_select.png) no-repeat right ;
   }
   .styled-select-2 select {
   background: transparent;
   width: 100%;
     font-weight:600;
   padding: 5px;
   padding-left:12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
  -moz-appearance: window;
    -webkit-appearance: none;
    cursor: pointer;
   }
   .styled-select-2 {
   width: 98%;
   height: 34px;
   overflow: hidden;
   background: url(/assets/img/layout/down_arrow_select_2.png) no-repeat right ;
   }
/*============================================================================================*/
/* 4.  COMMON */
/*============================================================================================*/

/* Mobile menu*/
select#mobileMenu_main-nav  { float:right; margin-top:4px;}

/* Page head*/
#sub-head { text-align:center; height:340px; background: #92278f url(/assets/img/layout/bg-sub-head.png) no-repeat center top; color:#fff; display: table;  position: relative; overflow: hidden; width:100%; padding: 20px; margin-bottom:30px; }
#sub-head div {display: table-cell; vertical-align:middle; }
#sub-head div p { margin-bottom:0; padding-bottom:0;}
.break { display:block; background:url(/assets/img/layout/break-content.png) no-repeat center left; height:20px; margin-bottom:30px;}
.lead strong {color:#444; font-weight:normal;}

.img-circle.style {
  background-color:#fff;
  -moz-box-shadow: 0px 0px 0px 10px #e8e8e8;
  -webkit-box-shadow: 0px 0px 0px 10px #e8e8e8;
  box-shadow: 0px 0px 0px 10px #e8e8e8;
  margin:auto;
}

iframe{
  border: 8px solid #e8e8e8;
 }

#toTop {width:100px;background:#111;text-align:center;padding:5px;position:fixed; bottom:10px;right:10px;cursor:pointer; display:none;color:#fff;font-size:11px; z-index:999;}

.add_top_30{
  margin-top:30px;
   }
    .add_top_15{
  margin-top:15px;
 }
 .add_bottom_30{
  margin-bottom:30px;
 }
  .add_bottom_15{
  margin-bottom:15px;
 }

.quote img {
  position:absolute;
  left:0;
  topt:0;
  margin: 0 15px 40px 0 ;
  -moz-box-shadow: 0px 0px 0px 5px #e8e8e8;
  -webkit-box-shadow: 0px 0px 0px 5px #e8e8e8;
  box-shadow: 0px 0px 0px 5px #e8e8e8;
  background-color:#e8e8e8;
 }
 .quote {
   font-style:italic;
   font-weight:600;
   position:relative;
   padding-left:80px;
 }
  .quote em {
   font-style: normal;
   font-weight:normal;
   margin-bottom:30px;
   margin-top:-10px;
   display:block;
 }

#newsletter_container {
  background: #7accc8 url(/assets/img/layout/bg-sub-head.png) no-repeat;
  padding: 20px 20px 10px 20px;
 }
 #newsletter_container  input.form-control,  #newsletter_container  input:focus.form-control{
  background-color:#fff;
  color:#555;
  border-radius:0px;
  font-size:16px;
  padding:25px;
 }

/* Images rollover effect */
.img-item .thumbnail{
padding: 0;
display: block;
max-width: 100%;
height: auto;
overflow: hidden;
 border: 8px solid #e8e8e8;
 -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
background:#e8e8e8;
border-bottom:3px solid #e8e8e8;
margin-bottom:30px;
}
.thumbnail img{
  min-width:100%;
  height:auto;
}
.img-wrapp{
position:relative;
display:inline-block;
width:100%;
height:auto;
overflow:hidden;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.img-wrapp .img-links {
position: absolute;
z-index: 1;
top: -50%;
margin-top: -19px;
line-height: 0;
padding: 0px;
text-align: center;
left: 3%;
width: 100%;
display: block;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-webkit-transition: all 0.15s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
}
.img-wrapp .img-links a {
  color:#fff;
}
.img-wrapp .img-links a:hover {
  text-decoration:none;
}

.img-wrapp .img-effect {
background-color: rgba(0, 0, 0, 0.7);
height: 100%;
width: 100%;
position: absolute;
z-index: 1;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
filter: alpha(opacity=0);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity:0;
opacity: 0;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease;
}

#map {
  height:380px;
  width:100%;
   border: 8px solid #e8e8e8;
}

/* forms error messages */
#message-newsletter, #message-visit, #message-contact { margin: 10px 0; padding: 0;}
.error_message { display: inline-block; background: #ed1c24; padding: 5px 8px; color:#fff;}
.loader { padding: 0 10px; }
#success_page { background: #66cc00; padding: 5px 10px;  color:#fff; display: inline-block; }

/* javascripts  toggle accrodian */
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0;
}
.panel {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

}

.panel-default > .panel-heading {
    color:#fff;
  background-color: #92278f;
  border-color: transparent;
}

/* modal */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}
.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #ddd;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #555;
  text-shadow: 0 1px 0 #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}


/* messages */
.errormsg, .alertmsg, .successmsg, .infomsg, .infomsg2 { display: block; margin: 20px 0; padding: 15px 8px 15px 15px; position: relative; color:#666666!Important; border-radius:0px; }
.alert i { float:left; line-height:22px;}
.errormsg { background-color: #FCCAC1;  border: 1px solid #E18B7C; }
.errormsg i {color:#E18B7C; }
.alertmsg { background-color: #FFE9AD; border: 1px solid #EAC572;}
.alertmsg i{color:#EAC572;}
.successmsg { background-color: #EFFEB9;  border: 1px solid #C1D779; }
.successmsg i{ color:#C1D779}
.infomsg { background-color: #DEEEFA;border: 1px solid #AFD3F2; }
.infomsg i { color: #AFD3F2; }
.infomsg2 { background-color: #FFFFFF; border: 1px solid #AFD3F2; }
a.clostalert { background: url("/assets/img/layout/messages.png") no-repeat scroll 0 -310px transparent; cursor: pointer; height: 15px; overflow: hidden; position: absolute; right: 5px; text-indent: 9999px; top: 5px; width: 15px; }

/* tabs */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #92278f;
}
.tab-content {
  overflow: auto;
  padding:20px 0;
}

.nav-tabs {
  border-bottom: 1px solid #dfdfdf;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 4px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #dfdfdf;
  color:#555;
}

.nav-tabs > li > a:hover {
  border-color: #92278f;
  color:#fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #92278f;
  border: 1px solid #92278f;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

/* Progress bars*/
.progress {
  height: 45px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 14px;
  text-transform:uppercase;
  font-weight:600;
  color: #ffffff;
  text-align: right;
  padding-right:10px;
  line-height:47px;
  -webkit-box-shadow: none;
   box-shadow:none;
  -webkit-transition: none;
  transition: width 0.6s ease;
}

/* Plans price style */
.plans {
  margin: 0px auto 50px ;
  zoom: 1;
}
.plans:before, .plans:after {
  content: '';
  display: table;
}
.plans:after {
  clear: both;
}

.plan {
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  background: #f2f2f2;
  background-clip: padding-box;
  border: solid #dddddd;
  border-width: 1px 0 1px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.col-md-4.plan:first-child {
  margin-right:-30px;
  margin-left:30px;
}
.plan:last-child {
  border-width: 1px;
}
.plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
}
.plan-title:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}
.plan-price {
 margin: 0 auto 20px;
width: 110px;
height: 110px;
line-height: 110px;
font-size: 30px;
font-weight: bold;
color: white;
background: #595f6b;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
display: inline-block;
text-align:center;
}
.plan-price > span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}
.plan-features {
  margin-bottom: 20px;
  line-height: 2;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.plan-features li{
  list-style:none;
}
.plan-features > li > strong {
  font-weight: bold;
  color: #888;
}
.plan-tall {
  margin: 0;
  background: #fff;
  border-width: 1px;
  border-radius: 10px;
  margin-right:-30px;
  position:relative;
  z-index:100;
   border: solid #92278f;
  padding-bottom:40px;
}
.plan-tall > .plan-title {
  font-size: 18px;
}
.plan-tall > .plan-price {
 margin: 0 auto 20px;
height: 110px;
widht: 110px;
line-height: 110px;
font-size: 30px;
font-weight: bold;
color: white;
background: #92278f;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
display: inline-block;
text-align:center;
}
.plan-tall > .plan-features {
  font-size: 13px;
}
.plan-tall > .plan-button {
  padding: 0 16px;
  line-height: 32px;
}
.plan-tall + .plan {
  border-left: 0;
}

/* Table price style 2 */
* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.pricing-table {
text-align:center;
font-weight:400;
border:6px solid #1ABC9C;
margin-bottom:30px;
background:#fff;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.pricing-table:hover{
-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
}
.pricing-table.green {
text-align:center;
font-weight:400;
border:6px solid #2ECC71;
}
.pricing-table.blue {
text-align:center;
font-weight:400;
border:6px solid #92278f;
}
.pricing-table-sign-up {
  border-top:1px solid #BDC3C7;
  padding:10px 20px;
  text-align:center;
  background:#ECF0F1;
}
.pricing-table-features p {
  padding:5px 20px;
  text-align:center;
}
.pricing-table-features p:nth-child(2n){
  background:#ECF0F1;
}
.pricing-table-features, .pricing-table-space{
  background:#fff;
}
.pricing-table p{
    padding:5px;
    margin-top:5px;
    font-size:110%;
    font-weight:400;
    background:#fff;
  }
.pricing-table p strong{
    font-weight:600;
  }

.pricing-table .pricing-table-header {
  color:#fff;
  background: #1ABC9C;
  padding:0px;
}
.pricing-table-header .heading{
  display:inline-block;
  width:100%;
  padding:15px 0px;
  text-transform:uppercase;
}
.pricing-table.green .heading{
    background: #2ECC71;
}
.pricing-table.red .heading{
  background: #E74C3C;
}
.pricing-table.blue .heading{
  background: #92278f;
}
.pricing-table .pricing-table-header .price-value{
  background: #16A085;
}
.pricing-table.green .pricing-table-header .price-value{
  background: #27AE60;
}
.pricing-table.blue .pricing-table-header .price-value{
  background: #2980B9;
}
.pricing-table-header .price-value {
  display:inline-block;
  width:100%;
  padding:20px 0px;
  background: #1ABC9C;
}

.pricing-table-header .price-value span{
  font-weight:800;
  font-size:36px;
}
.pricing-table-header .price-value span.mo{
  font-size:22px;
  font-weight:600;
}

/* Table style */
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dcdcdc;
}
   .table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dcdcdc;
}
.table-bordered {
  border: 1px solid #dcdcdc;
}

/* Pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}
.pagination > li > a,
.pagination > li > span {
  line-height: 1.428571429;
  background-color: transparent;
  border: 1px solid #ededed;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #92278f;
  color:#fff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #92278f;
  border-color: #92278f;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
   background-color: #92278f;
  border-color: #92278f;
}

/*============================================================================================*/
/* 5.  MEDIA QUERIES */
/*============================================================================================*/

@media (min-width: 1201px) and (max-width: 1400px) {

header, footer {max-width:100%;}

}

@media (min-width: 768px) and (max-width: 1200px) {

header, footer {max-width:100%;}

  .table-responsive > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive {
    border:none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
.border-right {
  padding-right:0;
  border-right:0;
}
.table-responsive > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive {
    border:none;
  }

.col-md-4.plan:first-child,
  .col-md-4.plan:last-child {
    margin-right: 0px;
    margin-left: 0px;
    border-width: 1px 1px 1px 1px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  .plan-tall + .plan {
    border-left: 1px;
    border: solid #555;
  }
  .plan-tall {margin-right:0;}

.why-desc { padding-top:0;}

.box_calculator a{
  margin-bottom:30px;
}

}

/* From tablet portrait to mobile */
@media (max-width: 767px) {

.table-responsive > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive {
    border:none;
  }
.text-right.why-desc { text-align:left}
.why-desc { padding-top:0;}
.border-right {
  padding-right:0;
  border-right:0;
}
header, footer {max-width:100%;}

.col-md-4.plan:first-child,
  .col-md-4.plan:last-child {
    margin-right: 0px;
    margin-left: 0px;
    border-width: 1px 1px 1px 1px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

  }
  .plan-tall + .plan {
    border-left: 1px;
    border: solid #555;
  }
  .plan-tall {margin-right:0;}

#sub-head { height:190px;}
#sub-head h2 { font-size:38px;line-height:38px}
#sub-head p { font-size:20px; line-height:20px;}

#map {
  height:260px;
}

}

/* Mobile portrait */
@media (max-width: 480px) {

.table-responsive > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive {
    border:none;
  }
  .border-right {
  padding-right:0;
  border-right:0;
}
.why-desc { padding-top:0;}
h1#logo a{
  background: url(/assets/img/layout/logo-mobile.png) no-repeat 0 0;
  width:auto;
}
#map {
  height:260px;
}
.quote img {
  margin: 0 15px 10px 0 ;
 }


}



/* Menu */
/*** ESSENTIAL STYLES ***/
ul#main-nav{
    float:right;
    text-transform:uppercase;
    margin:8px 0 0 0;
    padding:0;
    font-weight:600;
}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu > li {
    float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}

.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu ul ul {
    top: 0;
    left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
    float: left;
    margin-bottom: 1em;
}
.sf-menu ul {

    min-width: 15em; /* allow long menu items to determine submenu width */
    *width: 15em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
    padding: .75em 1em;
    text-decoration: none;
    zoom: 1; /* IE7 */
}
.sf-menu a {
    color: #92278f;
}

ul.sf-menu li a ul li:hover {
    color: #fff;
}
.sf-menu a:hover {
    color: #fff;
}

.sf-menu li {
    white-space: nowrap; /* no need for Supersubs plugin */
    *white-space: normal; /* ...unless you support IE7 (let it wrap) */
    -webkit-transition: background .2s;
    transition: background .2s;
}
.sf-menu ul li {
    background: #b538b2;
    border-bottom:1px solid #a7e5fd;

}
.sf-menu ul ul li {
        background: #b538b2;
}
ul.sf-menu  li ul li a{
    color:#fff;
}
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li:hover a {
    color:#fff !important;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
        background: #92278f;
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
    color:#fff;
}
.sf-menu li#active {
        background: #92278f;
        color:#fff;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: white;
}





/* SOCIAL-BOOKMARKS */
.social-bookmarks {
    padding: 0;
    margin: 30px 0 30px 0;
    list-style-type: none;
}

.social-bookmarks li, .widget .social-bookmarks li, #footer .social-bookmarks li {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 0px;
    background-color: #e8e8e8;
    display: inline;
    width: auto;
}
#footer .social-bookmarks li {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 0px;
}
#footer.social-bookmarks li a {
    display: block;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}
.social-bookmarks li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: background-color 5s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    display: block;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}
.social-bookmarks li.aim a {
    background: url(/assets/img/layout/socialize-icons/aim.png) no-repeat 0 0;
}
.social-bookmarks li.aim a:hover {
    background-color: #e95a00;
}
.social-bookmarks li.apple a {
    background: url(/assets/img/layout/socialize-icons/apple.png) no-repeat 0 0;
}
.social-bookmarks li.apple a:hover {
    background-color: #606060;
}
.social-bookmarks li.behance a {
    background: url(/assets/img/layout/socialize-icons/behance.png) no-repeat 0 0;
}
.social-bookmarks li.behance a:hover {
    background-color: #18a3fe;
}
.social-bookmarks li.blogger a {
    background: url(/assets/img/layout/socialize-icons/blogger.png) no-repeat 0 0;
}
.social-bookmarks li.blogger a:hover {
    background-color: #fb913f;
}
.social-bookmarks li.cargo a {
    background: url(/assets/img/layout/socialize-icons/cargo.png) no-repeat 0 0;
}
.social-bookmarks li.cargo a:hover {
    background-color: #00c462;
}
.social-bookmarks li.delicious a {
    background: url(/assets/img/layout/socialize-icons/delicious.png) no-repeat 0 0;
}
.social-bookmarks li.delicious a:hover {
    background-color: #3274d1;
}
.social-bookmarks li.deviantart a {
    background: url(/assets/img/layout/socialize-icons/deviantart.png) no-repeat 0 0;
}
.social-bookmarks li.deviantart a:hover {
    background-color: #d0de21;
}
.social-bookmarks li.digg a {
    background: url(/assets/img/layout/socialize-icons/digg.png) no-repeat 0 0;
}
.social-bookmarks li.digg a:hover {
    background-color: #2882c6;
}
.social-bookmarks li.dopplr a {
    background: url(/assets/img/layout/socialize-icons/dopplr.png) no-repeat 0 0;
}
.social-bookmarks li.dopplr a:hover {
    background-color: #99cc66;
}
.social-bookmarks li.dribbble a {
    background: url(/assets/img/layout/socialize-icons/dribbble.png) no-repeat 0 0;
}
.social-bookmarks li.dribbble a:hover {
    background-color: #ef5b92;
}
.social-bookmarks li.ember a {
    background: url(/assets/img/layout/socialize-icons/ember.png) no-repeat 0 0;
}
.social-bookmarks li.ember a:hover {
    background-color: #fb9d00;
}
.social-bookmarks li.evernote a {
    background: url(/assets/img/layout/socialize-icons/evernote.png) no-repeat 0 0;
}
.social-bookmarks li.evernote a:hover {
    background-color: #77ba2f;
}
.social-bookmarks li.facebook a {
    background: url(/assets/img/layout/socialize-icons/facebook.png) no-repeat 0 0;
}
.social-bookmarks li.facebook a:hover {
    background-color: #3b5998;
}
.social-bookmarks li.flickr a {
    background: url(/assets/img/layout/socialize-icons/flickr.png) no-repeat 0 0;
}
.social-bookmarks li.flickr a:hover {
    background-color: #f1628b;
}
.social-bookmarks li.forrst a {
    background: url(/assets/img/layout/socialize-icons/forrst.png) no-repeat 0 0;
}
.social-bookmarks li.forrst a:hover {
    background-color: #5b9a68;
}
.social-bookmarks li.github a {
    background: url(/assets/img/layout/socialize-icons/github.png) no-repeat 0 0;
}
.social-bookmarks li.github a:hover {
    background-color: #7292a2;
}
.social-bookmarks li.google a {
    background: url(/assets/img/layout/socialize-icons/google.png) no-repeat 0 0;
}
.social-bookmarks li.google a:hover {
    background-color: #dd4b39;
}
.social-bookmarks li.googleplus a {
    background: url(/assets/img/layout/socialize-icons/googleplus.png) no-repeat 0 0;
}
.social-bookmarks li.googleplus a:hover {
    background-color: #d94a39;
}
.social-bookmarks li.gowalla a {
    background: url(/assets/img/layout/socialize-icons/gowalla.png) no-repeat 0 0;
}
.social-bookmarks li.gowalla a:hover {
    background-color: #ff920d;
}
.social-bookmarks li.grooveshark a {
    background: url(/assets/img/layout/socialize-icons/grooveshark.png) no-repeat 0 0;
}
.social-bookmarks li.grooveshark a:hover {
    background-color: #f88e00;
}
.social-bookmarks li.html5 a {
    background: url(/assets/img/layout/socialize-icons/html5.png) no-repeat 0 0;
}
.social-bookmarks li.html5 a:hover {
    background-color: #f3642c;
}
.social-bookmarks li.icloud a {
    background: url(/assets/img/layout/socialize-icons/icloud.png) no-repeat 0 0;
}
.social-bookmarks li.icloud a:hover {
    background-color: #fb913f;
}
.social-bookmarks li.lastfm a {
    background: url(/assets/img/layout/socialize-icons/lastfm.png) no-repeat 0 0;
}
.social-bookmarks li.lastfm a:hover {
    background-color: #d21309;
}
.social-bookmarks li.linkedin a {
    background: url(/assets/img/layout/socialize-icons/linkedin.png) no-repeat 0 0;
}
.social-bookmarks li.linkedin a:hover {
    background-color: #71b2d0;
}
.social-bookmarks li.metacafe a {
    background: url(/assets/img/layout/socialize-icons/metacafe.png) no-repeat 0 0;
}
.social-bookmarks li.metacafe a:hover {
    background-color: #ef4035;
}
.social-bookmarks li.mixx a {
    background: url(/assets/img/layout/socialize-icons/mixx.png) no-repeat 0 0;
}
.social-bookmarks li.mixx a:hover {
    background-color: #d80330;
}
.social-bookmarks li.myspace a {
    background: url(/assets/img/layout/socialize-icons/myspace.png) no-repeat 0 0;
}
.social-bookmarks li.myspace a:hover {
    background-color: #003398;
}
.social-bookmarks li.netvibes a {
    background: url(/assets/img/layout/socialize-icons/netvibes.png) no-repeat 0 0;
}
.social-bookmarks li.netvibes a:hover {
    background-color: #629e61;
}
.social-bookmarks li.newsvine a {
    background: url(/assets/img/layout/socialize-icons/newsvine.png) no-repeat 0 0;
}
.social-bookmarks li.newsvine a:hover {
    background-color: #5b965a;
}
.social-bookmarks li.orkut a {
    background: url(/assets/img/layout/socialize-icons/orkut.png) no-repeat 0 0;
}
.social-bookmarks li.orkut a:hover {
    background-color: #ed2590;
}
.social-bookmarks li.paypal a {
    background: url(/assets/img/layout/socialize-icons/paypal.png) no-repeat 0 0;
}
.social-bookmarks li.paypal a:hover {
    background-color: #32689a;
}
.social-bookmarks li.picasa a {
    background: url(/assets/img/layout/socialize-icons/picasa.png) no-repeat 0 0;
}
.social-bookmarks li.picasa a:hover {
    background-color: #444;
}
.social-bookmarks li.pinterest a {
    background: url(/assets/img/layout/socialize-icons/pinterest.png) no-repeat 0 0;
}
.social-bookmarks li.pinterest a:hover {
    background-color: #cb2027;
}
.social-bookmarks li.plurk a {
    background: url(/assets/img/layout/socialize-icons/plurk.png) no-repeat 0 0;
}
.social-bookmarks li.plurk a:hover {
    background-color: #f35b36;
}
.social-bookmarks li.posterous a {
    background: url(/assets/img/layout/socialize-icons/posterous.png) no-repeat 0 0;
}
.social-bookmarks li.posterous a:hover {
    background-color: #f9d560;
}
.social-bookmarks li.reddit a {
    background: url(/assets/img/layout/socialize-icons/reddit.png) no-repeat 0 0;
}
.social-bookmarks li.reddit a:hover {
    background-color: #bfd0e2;
}
.social-bookmarks li.rss a {
    background: url(/assets/img/layout/socialize-icons/rss.png) no-repeat 0 0;
}
.social-bookmarks li.rss a:hover {
    background-color: #fe9900;
}
.social-bookmarks li.skype a {
    background: url(/assets/img/layout/socialize-icons/skype.png) no-repeat 0 0;
}
.social-bookmarks li.skype a:hover {
    background-color: #18b7f1;
}
.social-bookmarks li.stumbleupon a {
    background: url(/assets/img/layout/socialize-icons/stumbleupon.png) no-repeat 0 0;
}
.social-bookmarks li.stumbleupon a:hover {
    background-color: #eb4924;
}
.social-bookmarks li.technorati a {
    background: url(/assets/img/layout/socialize-icons/technorati.png) no-repeat 0 0;
}
.social-bookmarks li.technorati a:hover {
    background-color: #7ac84f;
}
.social-bookmarks li.tumblr a {
    background: url(/assets/img/layout/socialize-icons/tumblr.png) no-repeat 0 0;
}
.social-bookmarks li.tumblr a:hover {
    background-color: #3a5976;
}
.social-bookmarks li.twitter a {
    background: url(/assets/img/layout/socialize-icons/twitter.png) no-repeat 0 0;
}
.social-bookmarks li.twitter a:hover {
    background-color: #48c4d2;
}
.social-bookmarks li.vimeo a {
    background: url(/assets/img/layout/socialize-icons/vimeo.png) no-repeat 0 0;
}
.social-bookmarks li.vimeo a:hover {
    background-color: #62a0ad;
}
.social-bookmarks li.wordpress a {
    background: url(/assets/img/layout/socialize-icons/wordpress.png) no-repeat 0 0;
}
.social-bookmarks li.wordpress a:hover {
    background-color: #464646;
}
.social-bookmarks li.yahoo a {
    background: url(/assets/img/layout/socialize-icons/yahoo.png) no-repeat 0 0;
}
.social-bookmarks li.yahoo a:hover {
    background-color: #ab64bc;
}
.social-bookmarks li.yelp a {
    background: url(/assets/img/layout/socialize-icons/yelp.png) no-repeat 0 0;
}
.social-bookmarks li.yelp a:hover {
    background-color: #c41200;
}
.social-bookmarks li.youtube a {
    background: url(/assets/img/layout/socialize-icons/youtube.png) no-repeat 0 0;
}
.social-bookmarks li.youtube a:hover {
    background-color: #f45750;
}
.social-bookmarks li.zerply a {
    background: url(/assets/img/layout/socialize-icons/zerply.png) no-repeat 0 0;
}
.social-bookmarks li.zerply a:hover {
    background-color: #8db259;
}
.social-bookmarks li.zootool a {
    background: url(/assets/img/layout/socialize-icons/zootool.png) no-repeat 0 0;
}
.social-bookmarks li.zootool a:hover {
    background-color: #262626;
}
.social-bookmarks li a:hover {
    background-position: 0 -40px;
}

