body {
  background: url(/assets/img/layout/bg.png) repeat center top;
  color: #58585a;
  font-family: "ff-dagny-web-pro",sans-serif;
  font-weight: 400;
  padding-top: 10px;
  font-size: 15px;
}

header {

}

footer {
  background:#92278f;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 45px;
  color: #fff;
}

#toTop {
  width: 100px;
  background: #111;
  text-align: center;
  padding:5px;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  display:none;
  color:#fff;
  font-size:11px;
  z-index:999;
}


/* Spacers */
/******************************/

.spacer-top {
  margin-top: 80px;
}

.spacer-top-30 {
  margin-top: 20px;
}

.img-spacer-top {
  margin-top: 40px;
}
.spacer-bottom {
  margin-bottom: 50px;
}

.spacer-bottom-30 {
  margin-bottom: 30px;
}



/* Typography */
/******************************/
h1, h2, h3, h3, h4, h5, h6 {
  font-family: "ff-dax-compact-web-pro",sans-serif;
  font-weight: 800;
  text-shadow: none
}
h2, h3, h4, h5 {
  text-transform: uppercase;
}

h2 {
  color: #000;
  background:url(/assets/img/layout/divider.png) no-repeat center bottom;
  text-align:center;
  padding: 40px 0;
  margin-top: 30px;
  font-size: 40px;
}

h3 {
  font-size:26px;
  color:#92278f;
}


h4 {
  font-size: 20px;
color: #58585a

}


h5 {
  font-size: 18px;
  line-height:14px;
  color: #000;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 20px 0;
}

/* Lists */
ul,
ol {
padding-left: 18px;
}

li {

}

hr {
}

/* Links color */
a {
  color: #92278f;
}

a:hover,
a:focus {

}


footer a {
  color: #fff;
}

footer a:hover,
footer a:focus {
  color: #fff;
}


/* Icons */
/******************************/

.fa {
  color: #92278f;
}

.fa-check-circle {
  color: #8dc63f;
}

footer .fa {
  color: #fff;
}


/* Navigation */
/******************************/
.navbar {
   background: transparent;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: "ff-dax-compact-web-pro",sans-serif;
  font-weight: 800;
   font-size: 18px;
   margin-bottom: 0;
  border-radius: 0;
  margin-top: 30px;
}

.nav {
  background: #fff;

}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
}

.navbar-default {
    text-align: center;
}

.navbar-nav li a:link,
.navbar-nav li a:visited {
  color: #000;
float: none;
  text-align:center;
}



.navbar-nav li.active a:link,
.navbar-nav li.active a:visited {
  color: #92278f;
}

.navbar-nav li a:link:hover,
.navbar-nav li a:link:visited:hover {
  background: #fff;
}

.navbar-nav li a:hover,
.navbar-nav li a:visited:hover {
  color: #92278f;
}


footer ul {
  list-style-type: none;
}


p.flex-caption {
font-family: "ff-dax-compact-web-pro",sans-serif;
bottom: 20px;
padding-right: 40px;
padding-left: 40px


}

label {
  font-family: "ff-dax-compact-web-pro",sans-serif;
  color: #666;
}

/*============================================================================================*/
/* 4.  COMMON */
/*============================================================================================*/

/* Mobile menu*/
select#mobileMenu_main-nav  { float:right; margin-top:4px;}

/* Page head*/

.img-circle.style {
  background-color:#fff;
  -moz-box-shadow: 0px 0px 0px 10px #e8e8e8;
  -webkit-box-shadow: 0px 0px 0px 10px #e8e8e8;
  box-shadow: 0px 0px 0px 10px #e8e8e8;
  margin:auto;
}


/* MEDIA QUERIES */
/************************************/

@media (min-width: 1201px) and (max-width: 1400px) {
header, footer {
  max-width:100%;
}
}

@media (min-width: 768px) and (max-width: 1200px) {

header, footer {max-width:100%;}

}
@media (min-width: 768px) and (max-width: 979px) {
.border-right {
  padding-right:0;
  border-right:0;}
}

/* From tablet portrait to mobile */
@media (max-width: 767px) {

.border-right {
  padding-right:0;
  border-right:0;
}
header, footer {max-width:100%;}

}

/* Mobile portrait */
@media (max-width: 480px) {
  footer p {
    text-align: center;
  }
  footer {
    text-align: center;
  }
}
